# Directorios
dicom_storage/
__pycache__/
*.egg-info/
.venv/
venv/
env/

# Archivos Python
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
.env
.env.local
dist/
build/
